body{
    margin:0px;
    padding: 0px;
    /* Background Image Loc */
    background-image: url(../SSProj/images/stars.jpg);
    background-size: 100%;
}
.sun{
    height: 120px;
    width: 120px;
    background-image: url("./assets/sun.jpg");
    border-radius: 50%;
    background-size: cover;
    position: absolute;
    box-shadow: -4px 2px 56px #f9c05f;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mercury{
    height: 20px;
    width: 20px;
    background: #CECCD1;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #f9c05f;
    left: 43%;
    top: 44%;
    transform: translate(-50%,-50%);
    animation: orbit2 2s linear infinite;
}
/* To animate the path of orbit */
@keyframes orbit2{ 
    from{
        transform: rotate(0)translateX(80px) rotate(0);
    }
    to{
        transform: rotate(360deg)translateX(80px) rotate(-360deg);
        }
}

.planet-name{
    color:white;
    font-family: system-ui;
    position: absolute;
    left: -62px;
    top: -11px;

}

.planet-outline{
    border-radius: 50%;
    border: 1px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

#mercury-outline{
    height: 160px;
    width: 160px;
}

.venus{
    height: 40px;
    width: 40px;
    background-image: url();
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    box-shadow: -4px 2px 56px #c1aa81;
    left: 40%;
    top: 42%;
    transform:translate(-50%,-50%);
    animation:orbit3 10s linear infinite;
}
@keyframes orbit3{ 
    from{
        transform: rotate(0deg)translateX(125px) rotate(0deg);
    }
    to{
        transform: rotate(360deg)translateX(125px) rotate(-360deg);
    }
}

#venus-outline{
    height: 250px;
    width: 250px;
} 